<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Covid Summary</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Covid Seven-Day Summary</h1>
    </header>
    <section>
      <h2>Results</h2>
      <h3>Past seven-days</h3>
      <p>The following changes have occurred in the state of <%= @state %> over the past seven-days:
      <ul class="list-of-parameters">
        <% @change_results.each do |result| %>
          <li><%= result %></li>
        <% end %>
      </ul>
      <h3>Percentage changes</h3>
      <p>The changes that have occurred in <%= @state %> over the past seven-days differ from the previous seven-days by the following percent:</p>
    </section>
    <section>
      <h2>How the results are calculated</h2>
      <p>The results are calculated by obtaining data from <a href="https://covidtracking.com/">covidtracking.com</a> at three time points:</p>
      <ul class="list-of-parameters">
        <li>Day 0, which due to variation in when data is available, is yesterday.</li>
        <li>Day -7, which is 8 days prior to today.</li>
        <li>Day -14, which is 15 days prior to today.</li>
      </ul>
      <p>To determine the changes that have occurred over the last seven-days, the data obtained on Day -7 is subtracted from the data on Day 0. The changes that have occurred over the previous seven-days are calculated by subtracting the data from Day -14 from the data on Day -7.</p>
      <p>In order to calculate the percentage changes that have occurred
    </section>
  </body>
</html>
