<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Covid Summary</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Covid Seven-Day Summary</h1>
    </header>
    <section>
      <p>This application utilises USA state specific data from <a href="https://covidtracking.com/">covidtracking.com</a> to create a summary of the following changes that have occurred over the past seven-days:</p>
      <ul class="list-of-parameters">
        <li>The number of new cases</li>
        <li>The number of new deaths</li>
        <li>The number of new COVID19 PCR tests that have been performed</li>
        <li>Changes in the number of people currently hospitalised</li>
      </ul>
    </section>
    <form action="/state" method="GET" class="select-state">
      <fieldset>
        <label>
          Select a USA state to view the seven-day summary data:
          <select name="select_state">
            <option value="ak">AK</option>
            <option value="al">AL</option>
            <option value="ar">AR</option>
            <option value="az">AZ</option>
            <option value="ca">CA</option>
            <option value="co">CO</option>
            <option value="ct">CT</option>
            <option value="dc">DC</option>
            <option value="de">DE</option>
            <option value="fl">FL</option>
            <option value="ga">GA</option>
            <option value="gu">GU</option>
            <option value="hi">HI</option>
            <option value="ia">IA</option>
            <option value="id">ID</option>
            <option value="il">IL</option>
            <option value="in">IN</option>
            <option value="ks">KS</option>
            <option value="ky">KY</option>
            <option value="la">LA</option>
            <option value="ma">MA</option>
            <option value="md">MD</option>
            <option value="me">ME</option>
            <option value="mi">MI</option>
            <option value="mn">MN</option>
            <option value="mo">MO</option>
            <option value="ms">MS</option>
            <option value="mt">MT</option>
            <option value="nc">NC</option>
            <option value="nd">ND</option>
            <option value="ne">NE</option>
            <option value="nh">NH</option>
            <option value="nj">NJ</option>
            <option value="nm">NM</option>
            <option value="nv">NV</option>
            <option value="ny">NY</option>
            <option value="oh">OH</option>
            <option value="ok">OK</option>
            <option value="or">OR</option>
            <option value="pa">PA</option>
            <option value="pr">PR</option>
            <option value="ri">RI</option>
            <option value="sc">SC</option>
            <option value="sd">SD</option>
            <option value="tn">TN</option>
            <option value="tx">TX</option>
            <option value="ut">UT</option>
            <option value="va">VA</option>
            <option value="vt">VT</option>
            <option value="wa">WA</option>
            <option value="wi">WI</option>
            <option value="wv">WV</option>
            <option value="wy">WY</option>
          </select>
        </label>
        <input class="submit-button"type="submit" value="Submit" />
      </fieldset>
    </form>
    <footer>
      <p>For more information on COVID19 visit the <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a>
    </footer>
  </body>
</html>

